<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Оплата</title>
  <script src="https://telegram.org/js/telegram-web-app.js"></script>
  <script src="https://widget.cloudpayments.ru/bundles/cloudpayments.js"></script>
  <style>
    body {
      background:#111;
      display:flex;
      justify-content:center;
      align-items:center;
      height:100vh;
      margin:0;
      font-family: sans-serif;
    }

    button {
      background:#7A3FFD;
      color:#fff;
      border:none;
      padding:16px 28px;
      border-radius:12px;
      font-size:18px;
      font-weight:600;
      cursor:pointer;
    }

    button:active {
      transform:scale(0.97);
    }
  </style>
</head>
<body>

  <button id="pay">Оплатить</button>

  <script>
    async function run_pay() {
      const widget = new cp.CloudPayments();
      widget.charge({
            email: emailInput.value,
            publicId: orderData.publicId,
            description: "Оплата подписки",
            amount: 500,
            currency: "RUB",
            accountId: emailInput.value,
            invoiceId: orderData.invoiceId,
            data: {
              CloudPayments: {
                recurrent: { interval: "Month", period: 1},
              },
            },
          });
        }
  
    const tg = window.Telegram.WebApp;
    tg.ready()
    tg.expand()


    paybutton = ocument.getElementById("pay").onclick = () => {
      tg.showAlert("Здесь будет действие оплаты");
    };
  </script>

</body>
</html>

